<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/QIotLinkKit_Example.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.tencent.iot.test</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>CFBundleVersion</key>
		<string>1.0</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Chao Ren (45U44KXTL9)</string>
		<key>Team</key>
		<string>89W69LHLD3</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-06-09T02:29:18Z</date>
	<key>Name</key>
	<string>QIotLinkKit-Example</string>
	<key>SchemeName</key>
	<string>QIotLinkKit-Example</string>
</dict>
</plist>
